body {}

#banner {
    width: 100%;
}

.principal{  
    background: #ded0ff8f}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #4b0377;
}

.itens{
    font-style: italic
}

.benefícios{
    background: #600caf7d;
}




